.idea/
/seminar1/seminar1.iml
/seminar2/seminar2.iml
/seminar3/seminar3.iml
/seminar4/seminar4.iml
/seminar5/seminar5.iml
/seminar5V2/seminar5V2.iml
/seminar5Prototype/seminar5Prototype.iml
/seminar6Recuperare/seminar6Recuperare.iml
/seminar8Decorator/seminar8Decorator.iml
/seminar8Proxy/seminar8Proxy.iml
/seminar9Composite/seminar9Composite.iml
/seminar9Flyweight/seminar9Flyweight.iml
/seminar10Strategy/seminar10Strategy.iml
/seminar10Observer/seminar10Observer.iml
/seminar10Chain/seminar10Chain.iml
/LucruExtra/LucruExtra.iml
/LucruExtra/CategoriaA/CategoriaA.iml
/LucruExtra/CategoriaB/CategoriaB.iml
/LucruExtra/CategoriaC/CategoriaC.iml
/LucruExtra/CategoriaD/CategoriaD.iml
/LucruExtra/CategoriaE/CategoriaE.iml
/LucruExtra/CategoriaF/CategoriaF.iml
